
<ion-header>
  <ion-toolbar>
    <br>
    <ion-title>Listado de Pacientes</ion-title>
    <div style="text-align: right;">
      <ion-button color="danger" (click) = "logout()"> Cerrar sesion</ion-button>
    </div>    
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let paciente of pacientes">
    <ion-card-header>
      <ion-card-title>{{paciente.nombre}} {{paciente.apellido}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div><b>Cedula</b></div>
      <div>{{paciente.cedula}}</div>
      <div><b>Direccion</b></div>
      <div>{{paciente.direccion}}</div>
      <div><b>Telefono</b></div>
      <div>{{paciente.telefono}}</div>

      <div style="text-align: center;">
        <ion-button color="secondary" [routerLink]="['/','formulario','edit',paciente.id]">Editar</ion-button>
      <ion-button color="danger" (click)="eliminarPaciente(paciente.id)">Eliminar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/pacientes-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
</ion-content>
