<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pacientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Paciene</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro de nuevo paciente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="post.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="post.apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cedula</ion-label>
        <ion-input [(ngModel)]="post.cedula"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Direccion</ion-label>
        <ion-input [(ngModel)]="post.direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input [(ngModel)]="post.telefono"></ion-input>
      </ion-item>
      <ion-button color="primary" expand="full" (click)="edit ? actualizarPaciente(): registrarPaciente()">
        {{edit ? 'Actualizar':'Guardar'}}</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
